<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="app-1">
        <!-- v-if控制是否渲染 -->
        <p v-if="seen">看到</p>
    </div>
    <div id="app-2">
        <div v-for="i in list">{{i.text}}</div>
    </div>
</body>
<script>
    const app1 = new Vue({
        el: '#app-1',
        data: {
            seen: true
        }
    });
    const app2 = new Vue({
        el: '#app-2',
        data: {
            list: [{
                    text: 1
                },
                {
                    text: 2
                },
                {
                    text: 3
                }
            ]
        }
    })
</script>

</html>